<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEXT GAZE</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <div class="logo-img"><img src="../static/TEXT_GAZE_LOGO.png" width="110px" height="120px"></div>
        </div>
        <div class="logo-text">TEXT - GAZE</div>
        <button class="about-button" onclick="openModal()">ABOUT SITE</button>
    </div>
    <div class="container">
        <div class="page-content">
            <div class="options">
                <div class="option1">
                    <img src="../static/compare.png" class="option-img" alt="Compare Documents">
                    <div class="option-text">COMPARE DOCUMENTS</div>
                    <div class="option-description">Easily compare text between documents.</div>
                    <button class="option-arrow" onclick="window.location.href='/streamlit'">➔</button>
                </div>
                <div class="option2">
                    <img src="../static/extract.png" class="option-img" alt="Extract Text From Image">
                    <div class="option-text">TEXT EXTRACTION FROM IMAGES</div>
                    <div class="option-description">Extract text content from images.</div>
                    <button class="option-arrow" onclick="window.location.href='/streamlit1'">➔</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Window -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 class="modal-title"><center>ABOUT THIS SITE</center></h2>
            <br>
            <h3><center>TEXT-GAZE</center></h3>
            <br>
            <ul>
                <li>TEXT-GAZE provides tools for "COMPARING DOCUMENTS" and "EXTRACTING TEXT FROM IMAGES". Use the options to get started.</li>
                <li>The "COMPARE DOCUMENTS" feature allows you to upload and compare text between two documents side-by-side, highlighting the differences.</li>
                <li>In "COMPARE DOCUMENTS" you can edit a Document 1 after comparison and save the file in format (.docx)</li>
                <li>The "TEXT EXTRACTION FROM IMAGES" feature enables you to upload an image file and extract the text content from it using advanced OCR technology.</li>
                <li>In "TEXT EXTRACTION FROM IMAGES" after extraction of text you can edit, save the text in the fomat (.docx)</li>
                <li>Explore these features by clicking on the respective options and enhance your document handling capabilities with ease.</li>
                <li>These features helps in making the work easy for an Organisation's.</li>
            </ul>
        </div>
    </div>

    <script src="../static/index.js"></script>
</body>
</html>
